[Unit]
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/agl-service-persistent-storage
Restart=on-failure
User=agl-driver

[Install]
WantedBy=default.target
