[Unit]
Description=Eclipse KUKSA.val DBC feeder
Requires=kuksa-databroker.service
After=kuksa-databroker.service

[Service]
EnvironmentFile=-/etc/default/kuksa-can-provider
ExecStart=/usr/bin/dbcfeeder.py $EXTRA_ARGS
Restart=on-failure

[Install]
WantedBy=multi-user.target
