[Unit]
Description=Bluetooth OBEX service
Requires=bluetooth.service dbus.service
After=bluetooth.service dbus.service

[Service]
Type=dbus
BusName=org.bluez.obex
ExecStart=/usr/libexec/bluetooth/obexd --system-bus
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=dbus-org.bluez.obex.service
