[Unit]
Description=AGL Cluster Reference GUI
After=multi-user.target
PartOf=cluster-service.service

[Service]
EnvironmentFile=/etc/default/cluster
EnvironmentFile=-/etc/default/qt-drm-lease
ExecStart=/opt/apps/cluster
Restart=on-failure
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
