[Unit]
Description=Stream PipeWire output created by AGL compositor

Requires=agl-compositor.service
After=agl-compositor.service

Before=graphical.target
ConditionPathExists=/usr/bin/agl-stream-pipewire-output

[Service]
Type=simple
EnvironmentFile=-/etc/default/agl-stream-pipewire-output
# need to wait until receiver has its receiver client started; this might be a
# bit controversial but this actually decreases the preceived time when we
# start displaying frames on the receiver side. A proper solution would be
# somehow have a way to convey when it is the best time start the stream
ExecStartPre=sleep 10
ExecStart=/usr/bin/agl-stream-pipewire-output @REMOTE_OUTPUT_IP@ @REMOTE_OUTPUT_PORT@

User=agl-driver
Group=agl-driver

WorkingDirectory=/home/agl-driver

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical.target
