[Unit]
Description=Homescreen for AGL Momi IVI
After=multi-user.target
Requires=multi-user.target

[Service]
Type=simple
EnvironmentFile=/etc/default/momiscreen
EnvironmentFile=-/etc/default/qt-drm-lease
EnvironmentFile=-/etc/default/qtwayland-common
ExecStart=/usr/bin/momiscreen
Restart=on-failure
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
