# CONFIG_KEYBOARD_ADC is not set
# CONFIG_INPUT_TPS65219_PWRBUTTON is not set
# CONFIG_INPUT_PWM_BEEPER is not set
# CONFIG_INPUT_PWM_VIBRA is not set
CONFIG_INPUT_RK805_PWRKEY=y
# CONFIG_INPUT_DA9063_ONKEY is not set
CONFIG_IIO_TRIGGERED_BUFFER=y
CONFIG_IIO_CONFIGFS=y
CONFIG_IIO_SW_DEVICE=y
CONFIG_IIO_SW_TRIGGER=y
# CONFIG_MAX9611 is not set
# CONFIG_MEDIATEK_MT6359_AUXADC is not set
# CONFIG_QCOM_SPMI_VADC is not set
# CONFIG_QCOM_SPMI_ADC5 is not set
CONFIG_ROCKCHIP_SARADC=y
# CONFIG_TI_ADS1015 is not set
# CONFIG_IIO_CROS_EC_SENSORS_CORE is not set
# CONFIG_IIO_SIMPLE_DUMMY is not set
# CONFIG_IIO_ST_LSM6DSX is not set
# CONFIG_SENSORS_ISL29018 is not set
# CONFIG_VCNL4000 is not set
# CONFIG_IIO_ST_MAGN_3AXIS is not set
CONFIG_IIO_HRTIMER_TRIGGER=y
# CONFIG_MPL3115 is not set
CONFIG_PHY_CAN_TRANSCEIVER=y
# CONFIG_PHY_NXP_PTN3222 is not set
# CONFIG_PHY_CADENCE_TORRENT is not set
# CONFIG_PHY_CADENCE_DPHY is not set
# CONFIG_PHY_CADENCE_DPHY_RX is not set
# CONFIG_PHY_CADENCE_SIERRA is not set
# CONFIG_PHY_CADENCE_SALVO is not set
# CONFIG_PHY_QCOM_USB_HS is not set
CONFIG_PHY_ROCKCHIP_DP=y
CONFIG_PHY_ROCKCHIP_DPHY_RX0=y
CONFIG_PHY_ROCKCHIP_INNO_HDMI=y
CONFIG_PHY_ROCKCHIP_INNO_CSIDPHY=y
CONFIG_PHY_ROCKCHIP_INNO_DSIDPHY=y
CONFIG_PHY_ROCKCHIP_NANENG_COMBO_PHY=y
CONFIG_PHY_ROCKCHIP_PCIE=y
CONFIG_PHY_ROCKCHIP_SAMSUNG_DCPHY=y
CONFIG_PHY_ROCKCHIP_SAMSUNG_HDPTX=y
CONFIG_PHY_ROCKCHIP_USB=y
CONFIG_SPI_ROCKCHIP=y
CONFIG_SPI_ROCKCHIP_SFC=y
