CONFIG_CAN=y
CONFIG_CAN_RAW=y
CONFIG_CAN_BCM=y
CONFIG_CAN_GW=y
CONFIG_CAN_J1939=y
CONFIG_CAN_ISOTP=y
CONFIG_CAN_DEV=y
CONFIG_CAN_VCAN=y
CONFIG_CAN_VXCAN=y
# CONFIG_CAN_FLEXCAN is not set
# CONFIG_CAN_SLCAN is not set
# CONFIG_CAN_C_CAN is not set
CONFIG_CAN_ROCKCHIP_CANFD=y
# CONFIG_CAN_MCP251X is not set
# CONFIG_CAN_MCP251XFD is not set
# CONFIG_CAN_8DEV_USB is not set
# CONFIG_CAN_ESD_USB is not set
# CONFIG_CAN_GS_USB is not set
# CONFIG_CAN_KVASER_USB is not set
# CONFIG_CAN_MCBA_USB is not set
# CONFIG_CAN_PEAK_USB is not set
