[Unit]
Description=momiplayer
After=multi-user.target momiscreen.service
Requires=multi-user.target momiscreen.service

[Service]
Type=simple
EnvironmentFile=/etc/default/momiplay
EnvironmentFile=-/etc/default/qtwayland-common
ExecStart=/usr/bin/momiplay
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
