[Unit]
Description=mominavi
After=multi-user.target momiscreen.service network-online.target
Requires=multi-user.target momiscreen.service network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/default/mominavi
EnvironmentFile=-/etc/default/qtwayland-common
ExecStart=/usr/bin/mominavi
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
